.App {
  display: grid;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MainContainer{
  display: grid;
}
.searchB{
    display: grid;
    /* grid-template-columns:  repeat(auto-fit, minmax(1050px, 0fr)); */
    grid-template-columns: 0.25fr 1fr;
}
.Button{
display: grid;
grid-template-columns:1fr;
}
.classC{
  display: grid;
  grid-template-columns:1fr;
  width: 100%;
  }
/* css For styling Card component */
.Card-component{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}