.image-div{
    padding: 1rem;
    margin: 1px;
    justify-content: center;
}
.Discription{
    padding: 1rem;
    margin: 1px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    
    
}